* { box-sizing: border-box; }

body {
  background-color: #000000;
  font-family: 'Open Sans', 'Hevetica Neue', Helvetica, sans-serif;
  color: #3c3c3c;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-weight: normal;
  text-align: center;
  display:  none;
}

#subtitle {
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

#logo {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

.widget {
  width: 300px;
  margin: 10px auto 0;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}

.header {
  height: 78px;
  background-color: #ccc;
  position: relative;
  font-size: 12px;
}

.btn-play {
  margin: 9px;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50px;
  border: 1px solid #3c3c3c;
  user-select: none;
  -webkit-user-select: none;
}

.btn-play:after {
  content: ' ';
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  margin-left: 50%;
  margin-top: 50%;
  left: -10px;
  top: -18px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid #3c3c3c;
}

.btn-play:hover {
  cursor: pointer;
  border-color: #666;
}

.btn-play:hover:after {
  border-left-color: #666;
}

.btn-play:active:after {
  border-left-color: #000;
}

.btn-play.playing:before, .btn-play.playing:after {
  width: 9px;
  height: 36px;
  background-color: #3c3c3c;
  position: absolute;
  content: "";
  top: 22px;
  left: 27px;
  border: 0;
  margin: 0;
}

.btn-play.playing:after {
  left: 43px;
}

.btn-play.playing:hover:before, .btn-play.playing:hover:after {
  background-color: #666;
}

.btn-play.playing:active:before, .btn-play.playing:active:after {
  background-color: #000;
}

.btn-play.disabled {
  border-color: #888;
}

.btn-play.disabled:hover {
  cursor: auto;
}

.btn-play.disabled:after {
  border-left-color: #888;
}

.metadata {
  display: inline-block;
  padding: 10px;
  width: calc(100% - 100px);
}

.title, .author {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  line-height: 1.4em;
  height: 1.4em;
  font-size: 14px;
  font-weight: bold;
}

.author {
  font-weight: normal;
}

.seekbar {
  margin-top: 5px;
  width: 100%;
}

.cover {
  height: 300px;
  position: relative;
}

.cover img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  border: 0;
}

audio {
  display: none;
}

progress {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #3e3e40;
  position: relative;
  border: 0;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #3e3e40;
}

progress::-webkit-progress-value {
  background-color: #45a800;
}

progress::-moz-progress-bar {
  background-color: #45a800;
}

input {
  line-height: 1.7em;
  width: 280px;
  display: block;
  margin: 5px auto;
  padding: 0 12px;
  background-color: transparent;
  outline: none;
  border: 1px solid #999;
  font-size: 13px;
}

input:hover {
  background-color: #fff;
}

button {
  display: block;
  margin: auto;
  padding: .4rem .8rem;
  outline: 0;
  border: 0;
  background-color: #7AB800;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(119,173,16, 1);
}

input[type="text"], textarea {
  background-color: #FFFFFF;
}

#results {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

.empty {
  display:none;
}

#results li {
  background-color: #ecf0f1;
}

#results li:nth-child(2n+1) {
  background-color: #ccc;
}

#results li a {
  color: #3c3c3c;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

#results li a:hover {
  background-color: #aaa;
}

#results li a span {
  max-width: 300px;
  max-width: 450px;
  margin: 0 auto;
  display: block;
  line-height: 1.3em;
  font-size: 0.8rem;
}

#results li a .artist {
  color: #3c3c3c;
  font-size: 1rem;
}
